<h2>プロフィール編集・アカウント削除 <%= resource_name.to_s.humanize %></h2>

<h3>プロフィール編集</h3>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :"名前orニックネーム" %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
  </div>

  <div class="avatar-upload">
    <div class="avatar_intro">
      プロフィール画像（アイコンになります）
    </div>
    <div class="avatar_upload">
      <%= f.file_field :avatar, id:"avatar" %>
    </div>
  </div>

  <div class="field">
    <%= f.label :"メールアドレス" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

    <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">生年月日</label>
      <span class="indispensable">必須</span>
    </div>
    <div class='input-birth-wrap'>
      <%= raw sprintf(
        f.date_select(
        :birthday,
        class:'select-birth',
        id:"birth-date",
        use_month_numbers: true,
        prompt:'--',
        start_year: 1930,
        end_year: (Time.now.year - 5),
        date_separator: '%s'),
      "<p> 年 </p>", "<p> 月 </p>") + "<p> 日 </p>" %>
    </div>
  </div>

  <div class="field">
    <%= f.label :"現在の所属（学校、会社など）" %><br />
    <%= f.text_field :school_and_company, autocomplete: "school_and_company" %>
  </div>

  <div class="weight-bold-text">
    専攻科目（一番近い科目を選択してください）
  </div>
  <%= f.collection_select(:major_id, Major.all, :id, :name, {}, {class:"select-box", id:"major_id"}) %>

  <div class="field">
    <%= f.label :"現在の研究テーマ" %><br />
    <%= f.text_field :research_theme, autocomplete: "research_theme" %>
  </div>

  <div class="field">
    <%= f.label :"自己紹介" %><br />
    <%= f.text_area :introduction, autocomplete: "introduction" %>
  </div>

  <div class="actions">
    <%= f.submit "更新する" %>
  </div>
<% end %>

<h3>アカウントの削除</h3>

<p>アカウントを削除しますか? <%= button_to "アカウントを削除", registration_path(resource_name), data: { confirm: "アカウントを削除しますか?" }, method: :delete %></p>

<%= link_to "戻る", :back %>
