<%# 新規登録画面 %>
<div class="new-user-back-ground">
  <h1 class="new-person" >新規登録</h1>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="user-new-resi-field">
      <div class = "user-new-resi-word">名前 or ニックネーム" </div>
      <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "　（例）山田 太郎", class: "field-5" %>
    </div>

    <div class="user-new-resi-field">
      <div class="avator_info">プロフィール画像（アイコンになります）</div>
      <div class="avatar_upload">
        <%= f.file_field :avatar, id:"avatar" %>
      </div>
    </div>

    <div class="user-new-resi-field">
      <div class="user-mail-address-word">メールアドレス</div>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "　（例）field-recorder@gmail.com", class: "field-5" %>
    </div>

    <div class="user-new-resi-field">
      <h2 class="users-password-word">パスワード<h2>
        <%= f.password_field :password, autocomplete: "new-password", placeholder: "　半角英数6文字以上", class: "field-5" %>
    </div>

    <div class="user-new-resi-field">
      <div class="user-password-re-word">パスワード（確認用）</div>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "　半角英数6文字以上", class: "field-5" %>
    </div>

    <div class="user-new-resi-field">
      <div class='user-birthday-word'>専攻科目（一番近い科目を選択してください）</div>
      <%= f.collection_select(:major_id, Major.all, :id, :name, {}, {class: "field-3", id:"major_id"}) %>
    </div>
    
    <div class="user-new-resi-field">
      <div class='user-birthday-word'>現在の研究テーマ</div>
      <%= f.text_field :research_theme, autocomplete: "research_theme", placeholder: "　（例）新潟県長岡市小国地域に分布する魚沼層群の地質構造", class: "field-1" %>
    </div>

    <div class="user-new-resi-field">
      <div class='user-birthday-word'>自己紹介</div>
      <%= f.text_area :introduction, autocomplete: "introduction", placeholder: "（例）はじめまして、堆積学を専攻している大学２年生です。アウトプットの場を増やそうとアプリをはじめました。気合と突き進む力なら誰にも負けません！よろしくお願いいたします。", class: "field-2" %>
    </div>

    <div class="user-new-resi-field">
      <%= f.submit "登録する", class: "new-edit-actions" %>
    </div>
  <% end %>

<%# <%= render "devise/shared/links" %> 
</div>