<div class="new-back-ground">
  <h2 class="new-edit-delete-word">記事の編集・削除</h2>
  
  <div class="new-edit-field">
  <h2 class="post-new-edit-field">活動記事投稿</h2>
  <%= form_for(@article) do |f| %>

    <div class="field">
      <%= f.label :"タイトル" %><span>（必須）</span><br />
      <%= f.text_field :title, autofocus: true, placeholder: "記事タイトル", autocomplete: "title" %>
    </div>

    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">調査日時</label>
        <span class="indispensable">（必須）</span>
      </div>
      <div class='input-active-date-wrap'>
        <%= raw sprintf(f.date_select(:activity_date, class:'select-birth', id:"activity_date", use_month_numbers: true, prompt:'--', start_year: 1930, end_year: (Time.now.year), date_separator: '%s'), "<p> 年 </p>", "<p> 月 </p>") + "<p> 日 </p>" %>
      </div>
    </div>

    <div class="image">
      <div class="act_image">
        活動写真（3枚まで）
      </div>
      <div class="act_image">
        <label>画像①（※必須）</label><%= f.file_field :top_image, id:"act_top_image" %>
        <label>画像②</label><%= f.file_field :image_1, id:"act_image_1" %>
        <label>画像③</label><%= f.file_field :image_2, id:"act_image_2" %>
      </div>
    </div>

    <div class="weight-bold-text">
      当日の天気
    </div>
    <%= f.collection_select(:weather_id, Weather.all, :id, :name, {}, {class:"select-box", id:"weather_id"}) %>

    <div class="field">
      <%= f.label :"調査地" %><br />
      <%= f.text_field :location, autocomplete: "location" %>
    </div>

    <div class="field">
      <%= f.label :"活動メモ" %><br />
      <%= f.text_area :memo, autocomplete: "memo" %>
    </div>

    <div class="field">
      <%= f.label :"アピールポイント" %><br />
      <%= f.text_area :appeal_point, autocomplete: "appeal_point" %>
    </div>

    <div class="actions">
      <%= f.submit "更新する" %>
    </div>
  <% end %>
  </div>

  <div class="delete-area">
    <h3 class="delete-word">記事の削除</h3>
    <p>記事を削除しますか? <%= button_to "記事を削除", article_path(@article.id), data: { confirm: "記事を削除しますか?" }, method: :delete %></p>
    <%= link_to "戻る", :back %>
  </div>

</div>