<div class="contents row">
  <%= link_to image_tag("adventure.png", class: "head_img"), "#" %>
  <h1>タイムライン</h1>
  <% @articles.each do |article| %>
    <%= link_to article_path(article.id) do %>
    <div class="content_post">
      <ul class="article_overview">
        <li><%= article.title %></li>
        <li><%= article.activity_date %></li>
        <li class="user_name"><%= article.user.name %></li>
        <li><%#= article.major.name %></li>
        <li class="avatar"><%#= image_tag article.user.avatar, class: 'avatar' %></li>
      </ul>
    </div>
    <% end %>
  <% end %>
</div>