<div class="contents row">
  <%= link_to image_tag("adventure.png", class: "head_img"), "#" %>
  <div class = "time-line">
    <h1 class = "time-line-word" >タイムライン</b></h1>
  </div>
  <div class="content_post">
  <% @articles.each do |article| %>
    <%= link_to article_path(article.id), class: "active-all" do %>
      <div class = "content-part">
        <div class = "title">
          <div><b class = "title"><%= article.title %></b></div>
        </div>
        <div class = "content-major">
            <div><%= article.user.major.name %>系</div>
          </div>
        <div class = "active-day">
          <div >活動日：<%= article.activity_date %></div>
        </div>
        <div class="active-img">
          <div ><%= image_tag article.image, class: 'activity_image' %></div>
        </div>
       
        <div class = "personal">
          <div class="avatar">
            <div ><%= image_tag article.user.avatar.variant(resize:'50x50'), class: 'avatar' %></div>
          </div>
          <div class="content_user_name">
            <div ><b><%= article.user.name %></b></div>
          </div>
        </div> 
        <div class = "other-info">
          <div class = "content-all-day">
            <div>投稿記事：<%= @days %></div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
  </div>
</div>