<div class="contents-row">

  <!-- Slider main container -->
  <div class="swiper-container">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide">Slide 1<img src="images/slider-1.jpg" class="head-img"></div>
          <div class="swiper-slide">Slide 2<img src="images/slider-2.jpg" class="head-img"></div>
          <div class="swiper-slide">Slide 3<img src="images/slider-3.jpg" class="head-img"></div>
          <div class="swiper-slide">Slide 4<img src="images/slider-4.jpg" class="head-img"></div>
          <div class="swiper-slide">Slide 5<img src="images/slider-5.jpg" class="head-img"></div>
      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>

      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>

      <!-- If we need scrollbar -->
      <div class="swiper-scrollbar"></div>
  </div>

  <div class="index-time-line">
    <h1 class = "time-line-word" ><b>タイムライン</b></h1>
    <div class="content-post">
      <% @articles.each do |article| %>
        <% if article.top_image.present?%>
          <%= link_to article_path(article.id), class: "active-all" do %>
                <div class = "content-part">
                      <div class="title-box">
                        <h2 class = "title"><b><%= article.title %></b></h2>
                      </div>
                      <div class="second-area">
                          <div class="index-avatar-box">
                            <% if article.user.avatar.present? %>
                              <%= image_tag article.user.avatar, class: 'index-avatar' %>
                            <%else%>
                              <%= image_tag 'sample-avatar.jpg', class: 'index-avatar' %>
                              <%# <img src="sample-avatar.jpg" class="index-avatar"> %>
                            <% end %>
                          </div>
                        <div class = "second-right">
                            <div class="content_user_name">
                              <div ><b><%= article.user.name %></b></div>
                            </div>
                            <div class = "content-major">
                                <div class="major-word"><b><%= article.user.major.name %>系</b></div>
                            </div>
                            <div class = "index-active-day">
                              <div >活動日：<%= article.activity_date %></div>
                            </div>
                        </div> 
                      </div>

                      <div class="top-img">
                        <%= image_tag article.top_image, class: 'activity_top_image' %>
                  </div>

                  <%# フォローの統計情報↓ %>
                  <% if user_session.present? %>
                  <% @user ||= current_user %>
                  <div class="stats">
                    <a href="<%= following_user_path(@user) %>">
                      <strong id="following" class="stat">
                        <%= @user.following.count %>
                      </strong>
                      following
                    </a>
                    <a href="<%= followers_user_path(@user) %>">
                      <strong id="followers" class="stat">
                        <%= @user.followers.count %>
                      </strong>
                      followers
                    </a>
                  </div>
                  <%end%>

                </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>