<h2>活動記事投稿</h2>

<%= form_for(@article) do |f| %>
  <%#= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :"タイトル" %><br />
    <%= f.text_field :title, autofocus: true, autocomplete: "title" %>
  </div>

  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">調査日時</label>
      <span class="indispensable">必須</span>
    </div>
    <div class='input-birth-wrap'>
      <%= raw sprintf(
        f.date_select(
        :activity_date,
        class:'select-birth',
        id:"activity_date",
        use_month_numbers: true,
        prompt:'--',
        start_year: 1930,
        end_year: (Time.now.year - 5),
        date_separator: '%s'),
      "<p> 年 </p>", "<p> 月 </p>") + "<p> 日 </p>" %>
    </div>
  </div>

  <div class="image">
    <div class="act_image">
      活動写真（3枚まで）
    </div>
    <div class="act_image">
      <%= f.file_field :image, id:"act_image" %>
    </div>
  </div>

  <div class="weight-bold-text">
    当日の天気
  </div>
  <%= f.collection_select(:weather_id, Weather.all, :id, :name, {}, {class:"select-box", id:"weather_id"}) %>

  <div class="field">
    <%= f.label :"活動メモ" %><br />
    <%= f.text_area :memo, autocomplete: "memo" %>
  </div>

  <div class="field">
    <%= f.label :"アピールポイント" %><br />
    <%= f.text_area :appeal_point, autocomplete: "appeal_point" %>
  </div>

  <div class="actions">
    <%= f.submit "投稿する" %>
  </div>
<% end %>