<div class="article-back-space">
    <div class="article-box">
      <h2 class="article-show-title-text">
        <%= @article.title %>
      </h2>
      <div class="second-banner">
        <div class="second-banner-left">
          <div class= "date-weather-box">
            <h3 class="date-text">活動日：<%= @article.activity_date %></h3>
          </div>
          <div class="weather-box">
            <h3 class="weather-text">天気：<%= @article.weather.name %></h3>
          </div>
        </div>
        <div class = "user-info">
            <% if @article.user.avatar.present? %>
              <%= image_tag @article.user.avatar, class: 'avatar-box-img' %>
            <%else%>
              <%= image_tag 'sample-avatar.jpg', class: 'avatar-box-img' %>
              <%# <img src="sample-avatar.jpg" class="prof-avatar-data"> %>
            <% end %>
            <h3 class="user_name"><b><%= link_to @article.user.name, "/users/#{@article.user_id}", class: "link_user_name" %></b></h3>
        </div>
      </div>
      <div class='article-img'>
        <div class="article-img-middle">
        <%= image_tag @article.top_image ,class:"article-box-img" %>
        </div>

        <% if @article.image_1.present?%>
        <div class="article-img-middle">
          <%= image_tag @article.image_1 ,class:"article-box-img" %>
        </div>
        <% end %>
        
        <% if @article.image_2.present?%>
        <div class="article-img-middle">
          <%= image_tag @article.image_2 ,class:"article-box-img" %>
        </div>
        <% end %>
      </div>
      <!--<div>総活動日数：<%= @days %>日間</div>-->
      
      <div class="location-text-box">
        <div class="location-text-pack">
          <h2 class="location-text">活動地域：</h2>
        </div>
        <p class="location-text-data"><%= @article.location %>
      </div>
      <div class="memo-text-box">
        <div class="memo-text-pack">
          <h2 class="memo-text">活動メモ：</h2>
        </div>
        <p class="memo-text-data"><%= @article.memo %>
      </div>
      <div class="appeal-point-text-box">
        <div class="appeal-point-text-pack">
          <h2 class="appeal-point-text">工夫した点：</h2>
        </div>
        <p class="appeal-point-text-data"><%= @article.appeal_point %>
      </div>
    </div>
    <div class ="show-bottom">
        <%= link_to "記事の編集・削除を行う", edit_article_path(@article.id), class: "article-edit-delete" %>
        <%= link_to "TOPへ戻る", :back  ,class: "show-back"%>
    </div>
</div>
