<div class="article-show">
  <div class="article-box">
    <h2 class="title">
      <%= @article.title %>
    </h2>
    <h3 class="title">
      <%= @article.activity_date %>
    </h3>
    <h3 class="user_name">
      <%= @article.weather.name %>
    </h3>
    <div class='article-img-content'>
      <%= image_tag @article.user.avatar.variant(resize:'50x50') ,class:"article-box-img" %>
    </div>
    <h3 class="user_name">
      <%= @article.user.name %>
    </h3>
    <li>総活動日数：<%= @days %>日間</li>
    <div class='article-img-content'>
      <%= image_tag @article.image ,class:"article-box-img" %>
    </div>
    <h3 class="title">
      活動地域：<%= @article.location %>
    </h3>
    <h3 class="title">
      <%= @article.memo %>
    </h3>
    <h3 class="title">
      <%= @article.appeal_point %>
    </h3>
  </div>
</div>
<%= link_to "記事の編集・削除を行う", edit_article_path(@article.id), class: "edit" %>
<%= link_to "戻る", :back %>