<div class="prof-box">
      <h1>プロフィール</h1>
      <div class = "prof-personal">
        <div class="prof-avatar">
          <%= image_tag @user.avatar, class: 'prof-avatar-data' %>
        </div>
        <h2 class="prof_user_name"><b><%= @user.name %></b></h2>
        <div class= "count-day-box">
          <h3>活動日数 <b class= "count-day"><%=@user.articles.count.to_s%></b> 日間<h3>
        </div>
      </div> 
</div>

<div class="asset-box">
    <h1 class = "user-show-time-line-word" ><b>タイムライン</b></h1>
    <div class="user-show-content-post-back">
    <% @articles.each do |article| %>
    <% if article.top_image.present?%>
    <% if article.user_id == @user.id%>
    <%= link_to article_path(article.id), class: "active-all" do %>
      <div class = "user-show-content-part">
          <div class="title-box">
            <h2 class = "title"><b><%= article.title %></b></h2>
          </div>
          <div class="user-show-second-area">
            <div class = "second-right">
              <div class = "user-show-content-major">
                  <div class="major-word"><b>ジャンル：<%= article.user.major.name %>系</b></div>
              </div>
              <div class = "user-show-index-active-day">
                <div >活動日：<%= article.activity_date %></div>
              </div>
            </div> 
          </div>

          <div class="user-show-top-img">
            <%= image_tag article.top_image, class: 'activity_top_image' %>
          </div>

        </div>
    <% end %>
    <% end %>
    <% end %>
    <% end %>
</div>