<!DOCTYPE html>
<html>
  <head>
    <title>FieldworkRecorder</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header class='top-page-header'>
    <h1><%= link_to 'FieldworkRecorder', "/", class: "app_name"  %></h1>
    <div class='nav'>
      <div class='lists-right'>
      <% if user_signed_in? %>
        <div class = user_name_link><%= link_to current_user.name, "/", class: "user-name" %></div>
        <div><%= link_to 'プロフィール編集', "/users/edit", class: "edit" %></div>
        <div><%= link_to 'ログアウト', "/users/sign_out", method: :delete, class: "logout" %></div>
        <div><%= link_to '記事投稿', "/articles/new", class: "post-article" %></div>
      <% else %>
        <div><%= link_to '新規登録', "/users/sign_up", class: "sign-up" %></div>
        <div><%= link_to 'ログイン', "/users/sign_in", class: "login" %></div>
      <% end %>
      </div>
    </div>
  </header>
  <body>
    <%= yield %>
  </body>
  <div class='footer-contents'>
    <p class='footer-explain'>
      努力(Fieldwork)の記録帳(Recorder)を始めよう
    </p>
  </div>
</html>
